body {
  margin: 0;
  font-family: 'Grandstander', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

:root {
	--color-fire: #ff7402;
	--color-grass: #9bcc50;
	--color-steel: #9eb7b8;
	--color-water: #4592c4;
	--color-psychic: #f366b9;
	--color-ground: #ab9842;
	--color-ice: #51c4e7;
	--color-flying: #3dc7ef;
	--color-ghost: #4d5b64;
	--color-normal: #a4acaf;
	--color-poison: #7e0058;
	--color-rock: #a38c21;
	--color-fighting: #d56723;
	--color-dark: #707070;
	--color-bug: #729f3f;
	--color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
	--color-electric: #bba909;
	--color-fairy: #fdb9e9;
	--color-shadow: #7b62a3;
	--color-unknow: #757575;

	--color-primary: #006d77;
	--color-primary-hover: #83c5be;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p{
	font-size: 1.2rem;
}

.price {
	font-size: 2rem;
}

/* Globales */
	.container {
	margin: 1rem auto 0 auto; 
  }

/* Header */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0;
}

.logo img {
	width: 150px;
}

header form {
	display: flex;
	align-items: center;
	gap: 15px;
}

.form-group {
	display: flex;
	align-items: center;
	gap: 10px;
	border: 1px solid #555;
	padding: 15px 20px;
	border-radius: 25px;
}

.form-group input {
	/* padding: 15px 30px; */
	font-family: inherit;
	width: 300px;
	border: none;
	outline: none;
	font-size: 15px;
}

.icon-search {
	width: 20px;
	height: 20px;
	stroke: #555;
}

.btn-search {
	border: none;
	outline: none;
	border-radius: 25px;
	padding: 15px 30px;
	font-family: inherit;
	color: #fff;
	background-color: var(--color-primary);
	cursor: pointer;
	font-weight: 500;
	letter-spacing: 2px;
}

.btn-search:hover {
	background-color: var(--color-primary-hover);
	color: #000;
}

/* Btn Filter */
.container-filter {
	display: flex;
	margin-top: 2rem;
}

.icon-filter {
	display: flex;
	align-items: center;
	gap: 15px;

	margin-bottom: 20px;
	cursor: pointer;
}

.icon-filter .icon {
	width: 30px;
	height: 30px;
	stroke: #555;
}

/* Card List Pokemon */
.card-list-pokemon {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.card-pokemon {
	cursor: pointer;
	text-decoration: none;
}

.card-img {
	background-color: #f2f2f2;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	height: 250px;
}

.card-img img {
	width: 100%;
	height: 100%;
}

.card-info {
	padding: 15px;
}

.card-info h3 {
	color: #333;
}

.pokemon-id {
	display: block;
	color: #888;
	margin-bottom: 15px;
}

.pokemon-name {
	margin-bottom: 2rem; /* Ajusta el valor según sea necesario */
	text-align: right;
    font-size: 60px;
  }  

.card-types {
	display: flex;
	gap: 10px;
	margin-top: 10px;
}

.card-types span {
	font-size: 12px;
	padding: 5px 20px;
	border-radius: 5px;
	color: #fff;
}

/* Types of Pokemon */
.water {
	background-color: var(--color-water);
}

.grass {
	background-color: var(--color-grass);
}

.poison {
	background-color: var(--color-poison);
}

.fire {
	background-color: var(--color-fire);
}

.bug {
	background-color: var(--color-bug);
}

.dragon {
	background: var(--color-dragon);
}

.flying {
	background-color: var(--color-flying);
}

.ground {
	background-color: var(--color-ground);
}

.steel {
	background-color: var(--color-steel);
}

.psychic {
	background-color: var(--color-psychic);
}

.ice {
	background-color: var(--color-ice);
}

.ghost {
	background-color: var(--color-ghost);
}

.normal {
	background-color: var(--color-normal);
}

.rock {
	background-color: var(--color-rock);
}

.electric {
	background-color: var(--color-electric);
}

.fighting {
	background-color: var(--color-fighting);
}

.fairy {
	background-color: var(--color-fairy);
}

.dark {
	background-color: var(--color-dark);
}

/* Container Filters */
.container-filters {
	display: flex;
	justify-content: center;

	position: fixed;
	top: 0;
	left: -300px;
	width: 250px;

	color: #555;
	background-color: #f2f2f2;
	height: 100%;
	padding-top: 4rem;
	transition: all 0.3s linear;
}

.container-filters.active {
	left: 0;
}

.filter-by-type {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	gap: 20px;
}

.filter-by-type span {
	font-weight: 700;
	font-size: 22px;
}

.group-type {
	display: flex;
	gap: 10px;

	margin-left: 15px;
}

.group-type label {
	cursor: pointer;
}

/* 
======================================= 
Styles of Pokemon Single Page
======================================= 
*/

.navbar {
	z-index: 1;
	width: 100%; /* Establece el ancho al 100% para ocupar todo el ancho del viewport */
	background-color: #333; /* Cambia el color de fondo del Navbar según sea necesario */
	padding: 10px 0; /* Ajusta el relleno superior e inferior según sea necesario */
}

.main-pokemon {
	display: flex;
	flex-direction: column;

	margin-top: 1rem;
	margin-bottom: 50px;
}

.header-main-pokemon {
	margin-top: 6rem;
	display: flex;
	align-items: center;
	position: relative;
}

/* 
Login
======================================= 
*/

.form-control::placeholder {
	font-family: Arial, sans-serif;
  }

.img-login {
	background-image: url('../assets/login-img.jpg');
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .login-card {
	position: absolute;
	left: 70%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: none; /* Quita el borde */
  }

  .border-form{
	margin-top: 1rem;
  }

  .login-card button{
	margin-top: 1rem;
  }
	
  
/* 
Register
======================================= 
*/


/* 
Home
======================================= 
*/

/* Estilos para la sección de PokemonStore */

.pokemon-store-section {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10rem;
	background-color: #ac0123;
  }
  
  .pokemon-store-title {
	text-align: left;
	color: #ffffff; /* Cambia el color del texto a blanco */
	font-size: 4.5rem; /* Aumenta el tamaño del título */
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agrega sombra al título */
  }
  
  .pokemon-store-description {
	text-align: left;
	color: #ffffff; /* Cambia el color del texto a blanco */
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agrega sombra al texto */
	font-size: 1.1rem; /* Aumenta el tamaño del texto */
	margin-bottom: 20px;
  }
  
  .pokemon-store-button {
	padding: 10px 20px;
	background-color: #ff0000;
	color: #ffffff;
	border: 0;
	text-decoration: none;
	border-radius: 5px;
	font-size: 1.1rem;
  }
  
  
/* first-pokemon */

.first-pokemon{
	margin-top: 5rem;
}

.img-first-pokemon {
	display: flex;
	justify-content: center;
	margin-top: 1.5rem;
  }
  
  .img-first-pokemon img {
	max-width: 15rem;
	max-height: 15rem;
  }
  
  .container-first-pokemon {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
  }
  
  .card-first-pokemon {
	width: 22rem;
	background-color: #f0f0f0;
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	margin: 1rem;
  }
  
  .content-first-pokemon {
	padding: 1rem;
	margin-top: 2rem;
  }
  
  .content-first-pokemon h3 {
	font-size: 2.2rem;
	margin-bottom: 1rem;
  }
  
  .content-first-pokemon p {
	color: #666;
	font-size: 1.2rem;
	line-height: 1.3;
  }
  
  .content-first-pokemon .btn {
	display: inline-block;
	padding: 0.8rem 1.3rem;
	text-decoration: none;
  }
  
  .charmander-img{
	margin-top: 1rem;
  }

  .squirtle-img{
	margin-top: 4rem;
  }

  .btn-space{
	margin-top: 1.3rem;
  }

  /* Coaches */

  .coaches {
	margin-top: 2rem;
	padding: 20px;
  }

  .container-coaches {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 4rem;
	min-height: 80vh;
  }

  .card-coaches {
	width: 18rem;
	height: 18rem;
	display: grid;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .card-coaches-img {
	grid-area: cards;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

  .card-coaches figcaption {
	grid-area: cards;
	background: rgba(0, 0, 0, 0.8);
	transform: translateY(calc(100% - 3.5rem));
	transition: transform 900ms;
	padding: 1rem;
	color: #fff;
	font-weight: 400;
	position: relative;
  }

  .card-coaches h3 {
	margin-top: 0;
	font-weight: 600;
	font-size: 1.5rem;
	text-transform: uppercase;
  }

  .card-coaches p {
	margin-bottom: 0;
  }

  .card-coaches:hover figcaption {
	transform: translateY(0);
  }

/* 
Pokemons section
======================================= 
*/

.number-pokemon {
	position: absolute;
	top: -130px;
	left: 0;

	font-size: 10rem;
	font-weight: 700;
	color: var(--color-primary-hover);
}

.container-img-pokemon {
	order: 2;
	flex: 1;
	padding: 55px 55px 0px 0;
	height: 400px;
}

.container-img-pokemon img {
	height: 80%;
	width: 100%;
}

.container-info-pokemon {
	display: flex;
	flex-direction: column;

	order: 1;
	flex: 1;
}

.info-pokemon {
	display: flex;
	justify-content: space-between;

	margin-top: 20px;
}

.group-info{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.group-info p {
	font-weight: 700;
	font-size: 20px;
}

/* Stats */
.container-stats {
	display: flex;
	gap: 50px;
	align-items: center;
}

.stats {
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex: 1;
}

.stat-group {
	display: flex;
	align-items: center;
	gap: 20px;
}

.stat-group span {
	flex: 20%;
	font-weight: 500;
	font-size: 18px;
}

.progress-bar {
	width: 100%;
	height: 30px;
	background-color: var(--color-primary);
	border-radius: 10px;
}
/* Search Page */

.p-search{
	margin-bottom: 30px;
	font-size: 22px;
}

.p-search span{
	font-weight: 700;
}

/* Loader */

.container-loader{
	display: flex;
	justify-content: center;
	margin: 200px 0;
}

/* Btn Load More */

.container-btn-load-more{
	display: flex;
	justify-content: center;

	margin-bottom: 20px;
	margin-top: 20px;
}

.btn-load-more{
	border: none;
	padding: 15px 40px;
	font-family: inherit;
	background-color: var(--color-primary);
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
}

.btn-load-more:hover{
	background-color: var(--color-primary-hover);
	color: #000;
}

.Comprar {
	margin-bottom: 1rem;
}

/* 
Carrito 
======================================= 
*/

.container-carrito{
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.carrito-img{
	margin: 1rem 0 1rem 0;
	height: 10rem;
	width: 10rem;
}